<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutorials
    </ion-title>
    <ion-buttons  slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
<br>
<br>

  <div *ngIf="tutor != null">
    <div *ngFor="let tut of tutor">
        <ion-button shape="round"   color="danger" expand="full" routerLink="/tutorial" class="ion-text-right">
          <ion-icon name="arrow-forward-outline"></ion-icon>
          {{tut.Name}}
        </ion-button>
        <br>
    </div>
  </div>

</ion-content>
